<%- include('../partials/nav') %>

<div class="container-sm">
  <form action="/parks/<%= park._id %>?_method=PATCH" method="POST">
      <fieldset>
          <label class="form-label">Park Name:</label>
          <input type="text" class="form-control" name="name" placeholder="Enter park name" required value="<%= park.name %>">
          
          <label class="form-label">Description:</label>
          <textarea class="form-control" name="desc" placeholder="Enter park description"><%= park.desc %></textarea>
          
          <label class="form-label">Walking Trail:</label>
          <input type="checkbox" class="form-check-control" name="walkingTrail" 
              <% if (park.walkingTrail) {%> checked <% } %>
          >
          
          <label class="form-label">BBQ/Picnic Area:</label>
          <input type="checkbox" class="form-check-control" name="bbqPicnic"
              <% if (park.bbqPicnic) {%> checked <% } %>
          >
          
          <label class="form-label">Dog Run:</label>
          <input type="checkbox" class="form-check-control" name="dogRun"
              <% if (park.dogRun) {%> checked <% } %>
          >
          
          <label class="form-label">Playground:</label>
          <input type="checkbox" class="form-check-control" name="playground"
              <% if (park.playground) {%> checked <% } %>
          >
          
          <br>
          <hr>
          <input type="submit" class="btn btn-success" value="Update Park">
      </fieldset>
  </form>
</div>

<%- include('../partials/footer') %>